{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Cart</h1>
        <ul class="list-group cart-list">
            {% if products %}
                {% for product in products %}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{ product.title }}</div>
                      {{ product.description}}
                    </div>
                    <span class="badge bg-danger rounded-pill"><a class="cart-remove" href="{% url 'remove-from-cart' product_id=product.id %}"><i class="fa-solid fa-xmark"></i></a></span>
                  </li>
                {% endfor %}
            {% else %}
                <h1>Your Cart is empty</h1>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
