.navbar-brand.logo {
    color: paleturquoise;
    font-size: 30px;
}

nav .sign {
    float: right;
}

nav .user {
    color: white;
    font-size: 25px;
}

.nav-link {
    color: mediumaquamarine;
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}